.contactform form {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.contactform label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

.contactform input {
  width: 100%;
  height: 7vh;
  padding: 8px 12px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid #e3e7f2;
  border-radius: 10px;
}

.contactform input:focus {
  outline: none;
}

.contactform textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e3e7f2;
  border-radius: 10px;
}

.contactform textarea:focus {
  outline: none;
}

.contactform button {
  width: 100%;
  background-color: blue;
  color: white;
  margin-top: 25px;
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
